.main-container {
    font-family: var(--font-primary);
    padding: 2em;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

.panel {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    padding-top: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    gap: 2em;


}

.panel__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.panel__results {

    width: 22em;
    display: flex;
    flex-direction: column;
    gap: .5em;


}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-data {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    letter-spacing: 1px;
    border-radius: 15px;
    width: 11rem;
    padding: .2em .5em;
}

.total {
    background-color: var(--secondary-color-hover);
    padding-block: .5em;
}

.btn {
    border: none;
    padding: .5em 1em;
    font-family: var(--font-primary);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--text-color-fff);
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    opacity: .8;
    transition: opacity .2s ease-in;
    align-items: center;
    display: flex;
    gap: .5em;
}

.btn:hover {
    opacity: 1;
}


.radio {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    width: fit-content;
    user-select: none;
}

.radio__input {
    display: none;
}

.radio__label {
    padding: .8em 1em;
    font-size: .85rem;
    font-family: var(--font-primary);
    color: var(--text-color-fff);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: background 0.15s;

    text-transform: uppercase;
    letter-spacing: 1px;

}

.radio__label:not(:last-of-type) {
    border-right: 1px solid var(--primary-color);
}

.radio__input:checked + .radio__label {
    background: #006b4b;
}